$base-background: #605383;

/* Цветовая палитра для задач */
$danger: #ED5565;
$success: #A0D665;
$neutral: #4FC1E9;
$warning: #FFCE58;

/* Отступы */
$lg-margin: 24px;
$md-margin: 16px;
$sm-margin: 8px;
$xs-margin: 4px;

$lg-padding: 12px;
$md-padding: 10px;
$sm-padding: 8px;
$xs-padding: 6px;

/* Радиусе */
$lg-radius: 12px;
$md-radius: 10px;
$sm-radius: 8px;
$xs-radius: 6px;