$base-background: var(--mat-sys-primary-container);
$base-accent: var(--mat-sys-primary);

/* Цветовая палитра для задач */
$status-danger: #ED5565;
$status-success: #A0D665;
$status-neutral: #4FC1E9;
$status-warning: #FFCE58;

/* Отступы */
$lg-margin: 32px;
$md-margin: 16px;
$sm-margin: 8px;
$xs-margin: 4px;

$lg-padding: 12px;
$md-padding: 10px;
$sm-padding: 8px;
$xs-padding: 6px;

/* Радиусе */
$lg-radius: 12px;
$md-radius: 10px;
$sm-radius: 8px;
$xs-radius: 6px;