@import "@styles/index.scss";

app-kanban-column:first-child {
  .kanban-column {
    border-radius: $md-radius 0 0 $md-radius;
  }
}

app-kanban-column:last-child {
  .kanban-column {
    border-radius: 0 $md-radius $md-radius 0;
  }
}

.kanban-column {
  min-width: 250px;
  height: 100%;

  display: flex;
  flex-direction: column;

  &__title {
    padding: $md-padding;
    margin-bottom: $md-margin;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: aquamarine;
    border-radius: $sm-radius;

    font-size: $lg-font;
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    gap: $md-margin;
  }
}