@import "@styles/index.scss";

.kanban-task {
    padding: $md-padding;

    display: flex;
    flex-direction: column;

    border-radius: $sm-radius;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: $white;

    cursor: pointer;

    &__title {
      margin-bottom: $sm-margin;

      user-select: none;
      pointer-events: none;
    }

    &__description {
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      user-select: none;
      pointer-events: none;

      font-size: $sm-font;
      color: $grey;
    }

    &.dragging {
      position: absolute;
    }

    &.no-events {
      pointer-events: none;
    }
  }