<div class="kanban">
  <div class="kanban__workspace">
    <app-kanban-column
      [title]="'На очереди'"
      [tasks]="columns()?.Start ?? []"
      [status]="kanbanTaskStatusesEnum.Start">
    </app-kanban-column>
    <app-kanban-column
      [title]="'В процессе'"
      [tasks]="columns()?.InProgress ?? []"
      [status]="kanbanTaskStatusesEnum.InProgress">
    </app-kanban-column>
    <app-kanban-column
      [title]="'Завершено'"
      [tasks]="columns()?.Completed ?? []"
      [status]="kanbanTaskStatusesEnum.Completed">
    </app-kanban-column>
    <app-kanban-column
      [title]="'Просрочено'"
      [tasks]="columns()?.Expired ?? []"
      [status]="kanbanTaskStatusesEnum.Expired">
    </app-kanban-column>
  </div>
</div>